/*
Copyright 2013 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
define(function (require, exports, module) {

var __p, modules = {};

function define(name, deps, factory) {
    if (typeof deps === 'function') {
        factory = deps;
        deps = ['require', 'exports', 'module'];
    }
    function require(name) {
        return modules[name];
    }
    var module = {
            exports: {}
        },
        instances = [],
        i;

    for (i = 0; i < deps.length; i++) {
        switch (deps[i]) {
            case 'require':
                instances[i] = require;
                break;
            case 'exports':
                instances[i] = module.exports;
                break;
            case 'module':
                instances[i] = module;
                break;
            default:
                instances[i] = modules[deps[i]];
                break;
        }
    }
    modules[name] = factory.apply(null, instances);
}

{{{definition}}}

module.exports = modules.promise['default'];

});
